.wrap {
    width: 1750px;
    margin: 0 auto;

}

/* css에서 .은 class 속성을 나타냄 */

.wrap img {
    width: 100%;
}

.menu{
    width: 1750px;
    text-align: right;

}

.menu > a{
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 36px;
}


.contents{
    width: 1750px;
    text-align: left;
}

.text-1 >b{
    font-size: 74px;
    color: #000000;
}

.text-1 > p{
    font-size: 36px;
    color:#545454;
    line-height: 43px;
    padding: 50px 0;
}

.text-1>a{
    font-size: 32px;
    color: #000000;
    background-color: #D9D9D9;
    padding:20px;
    text-decoration: none;
    border-radius: 40px;
    display: inline-block;
}

.first-pic {
    width:50%;
}

.text-2{
    display: flex;
}
.text-2 >b{
    font-size: 40px;
}

.text-2 >p{
    font-size: 34px;
}